@media (max-width: 1024px) {
  .second-section-top {
    gap: 15px;
  }
  .second-section-left {
    max-width: 250px;
  }
  .categories-list,
  .Size-list,
  .Price-Range-content {
    margin-left: 15px;
    margin-right: 4px;
  }
  .menu-list {
    gap: 30px;
  }
  .catalog {
    gap: 30px 5px;
  }
  .plant-left {
    left: -35px;
  }
  .plant-right {
    left: -65px;
  }
  .cards {
    gap: 15px;
  }
  .card-txt {
    max-width: 230px;
  }
  .footer-top-right {
    margin-left: 32px;
  }
  .footer-center {
    gap: 85px;
  }
  .footer-bottom {
    gap: 120px;
  }
}

@media (max-width: 768px) {
  .logo {
    max-width: 135px;
  }
  .header-nav {
    max-width: 280px;
  }
  .header-nav-list {
    gap: 15px;
  }
  .header-icons {
    gap: 20px;
  }
  .header-icon1 {
    width: 15px;
    height: 15px;
  }
  .header-icon2 {
    width: 24px;
    height: 19px;
  }
  .login-button-link {
    max-width: 90px;
    padding: 7px 12px 8px 12px;
    font-size: 15px;
  }
  .login-icon {
    width: 18px;
    height: 18px;
  }
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .main-section-button {
    max-width: 120px;
    margin-top: 34px;
    padding: 3px 15px;
    font-size: 14px;
    line-height: 15px;
    white-space: nowrap;
  }
  .main-image {
    padding-top: 120px;
  }
  .second-section-top {
    gap: 15px;
  }
  .second-section-left {
    max-width: 200px;
  }
  .categories-list,
  .Size-list,
  .Price-Range-content {
    margin-left: 15px;
    margin-right: 4px;
  }
  .categories-item,
  .Size-item {
    line-height: 35px;
  }
  .menu {
    gap: 15px;
  }
  .menu-list {
    gap: 20px;
  }
  .catalog {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }
  .find-more-right,
  .find-more-left {
    padding: 0 0;
  }
  .find-more-left-txt,
  .find-more-right-txt {
    margin-right: 10px;
  }
  .plant-left {
    max-width: 187px;
    top: -15px;
    left: -5px;
  }
  .plant-right {
    max-width: 189px;
    top: -10px;
    left: -15px;
  }
  .find-more-left-description,
  .find-more-right-description {
    max-width: 230px;
  }
  .cards {
    gap: 2px;
  }
  .data-txt {
    font-size: 13px;
  }
  .card-description {
    font-size: 12px;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  .footer-top-right {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-bottom {
    flex-wrap: wrap;
    gap: 30px 120px;
  }
  .location-txt,
  .email-txt,
  .tel-txt {
    font-size: 16px;
  }
  .footer-location {
    max-width: 230px;
  }
}

@media (max-width: 640px) {
  .logo {
    max-width: 125px;
  }
  .header-nav {
    max-width: 260px;
  }
  .header-nav-list {
    gap: 5px;
  }
  .header-icons {
    gap: 15px;
  }
  .header-icon1 {
    width: 15px;
    height: 15px;
  }
  .header-icon2 {
    width: 24px;
    height: 19px;
  }
  .login-button-link {
    max-width: 90px;
    padding: 7px 12px 8px 12px;
    font-size: 15px;
  }
  .login-icon {
    width: 18px;
    height: 18px;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .greetings {
    font-size: 12px;
    line-height: 4px;
  }
  .description {
    font-size: 12px;
  }
  .main-section-button {
    max-width: 120px;
    margin-top: 34px;
    padding: 3px 15px;
    font-size: 14px;
    line-height: 15px;
    white-space: nowrap;
  }
  .main-image {
    max-width: 270px;
    padding-top: 120px;
  }
  .second-section-top {
    gap: 15px;
  }
  .second-section-left {
    max-width: 200px;
  }
  .categories-list,
  .Size-list,
  .Price-Range-content {
    margin-left: 15px;
    margin-right: 4px;
  }
  .categories-item,
  .Size-item {
    line-height: 35px;
  }
  .menu {
    gap: 15px;
  }
  .menu-list {
    gap: 5px;
  }
  .menu-list,
  .menu-filters,
  .filter-option {
    font-size: 14px;
    text-align: center;
  }
  .menu-item:hover {
    border-bottom: 2px solid transparent;
  }
  .catalog {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }
  .catalog-item {
    margin-left: auto;
    margin-right: auto;
  }
  .catalog-item-image {
    width: 180px;
    height: 180px;
  }
  .catalog-item-icons {
    gap: 5px;
    left: 35px;
  }
  .catalog-item-label {
    padding: 4px 6px;
  }
  .find-more {
    flex-direction: column;
    gap: 30px;
  }
  .find-more-right,
  .find-more-left {
    margin-top: 0;
  }
  .plant-left,
  .plant-right {
    display: none;
  }
  .find-more-left-txt {
    background-image: url(./images/Plant_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50px 0;
  }
  .find-more-right-txt {
    background-image: url(./images/Plant_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50px 0;
  }
  .find-more-left-description,
  .find-more-right-description {
    max-width: 250px;
  }
  .third-section .container {
    gap: 90px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .first-card,
  .second-card,
  .third-card,
  .fourth-card {
    max-width: 312px;
  }
  .card-img {
    margin-left: 20px;
  }
  .card-txt {
    margin-left: 20px;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  .footer-top-left {
    gap: 20px;
  }
  .footer-top-left p {
    font-size: 12px;
  }
  .footer-top-right {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-bottom {
    flex-wrap: wrap;
    gap: 30px 80px;
  }
  .footer-location,
  .footer-email,
  .footer-tel {
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .header .container {
    position: relative;
  }
  .logo {
    max-width: 135px;
  }
  .header-nav {
    display: none;
    max-width: 120px;
    position: absolute;
    top: 100%;
    right: 0;
  }
  .header-nav-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .header-nav-item {
    padding-bottom: 5px;
    background-color: #edf6ee;
  }
  .header-sub-list {
    top: -5px;
    left: -190px;
  }
  .header-nav-item:hover {
    border: 3px solid transparent;
    background-color: #1a712a;
  }
  .header-nav-item:hover .header-nav-link {
    color: #ffffff;
  }
  .header-subsub-list {
    top: 100%;
    left: 75px;
  }
  .burger {
    display: block;
    margin-bottom: 10px;
  }
  #burger-checkbox {
    display: block;
  }
  #burger-checkbox:checked ~ .header-nav {
    display: block;
  }
  .header-icons {
    gap: 20px;
  }
  .main-text {
    margin-right: 40px;
  }
  .main-image {
    display: none;
  }
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .greetings {
    font-size: 12px;
    line-height: 4px;
  }
  .description {
    font-size: 12px;
  }
  .main-section-button {
    max-width: 120px;
    margin-top: 34px;
    padding: 3px 15px;
    font-size: 14px;
    line-height: 15px;
    white-space: nowrap;
  }
  .second-section-top {
    flex-direction: column;
    gap: 20px;
  }
  .second-section-left {
    max-width: 480px;
  }
  .categories-title,
  .Price-Range-title,
  .Size-title {
    margin-left: auto;
    margin-right: auto;
  }
  .categories-list,
  .Size-list,
  .Price-Range-content {
    margin-left: 40px;
    margin-right: 40px;
  }
  .Price-Range-content {
    text-align: center;
  }
  .menu {
    gap: 20px;
    padding: 0 5px;
  }
  .menu-list {
    gap: 10px;
  }
  .menu-list,
  .menu-filters,
  .filter-option {
    font-size: 12px;
    text-align: center;
  }
  .menu-item:hover {
    border-bottom: 2px solid transparent;
  }
  .catalog {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
  .catalog-item {
    margin-left: auto;
    margin-right: auto;
  }
  .catalog-item:hover {
    border: 1px solid #46a358;
  }
  .catalog-item p {
    text-align: center;
  }
  .catalog-item-image {
    width: 250px;
    height: 250px;
  }
  .catalog-item-icons {
    left: 67px;
    bottom: 7px;
  }
  .find-more {
    flex-direction: column;
    gap: 30px;
  }
  .find-more-right,
  .find-more-left {
    margin-top: 0;
  }
  .plant-left,
  .plant-right {
    display: none;
  }
  .find-more-left-txt {
    margin-right: 40px;
    background-image: url(./images/Plant_left.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .find-more-right-txt {
    margin-right: 40px;
    background-image: url(./images/Plant_right.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .find-more-left-description,
  .find-more-right-description {
    max-width: 200px;
    font-size: 12px;
  }
  .third-section .container {
    gap: 90px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 0;
  }
  .card-txt {
    max-width: 200px;
  }
  .data-txt {
    font-size: 10px;
  }
  .card-title {
    font-size: 16px;
    line-height: 20px;
  }
  .card-description {
    font-size: 10px;
    line-height: 12px;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-top-left {
    gap: 10px;
  }
  .footer-top-left h5 {
    font-size: 14px;
  }
  .footer-top-left p {
    font-size: 10px;
    line-height: 12px;
  }
  .footer-top-right {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-bottom {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-bottom li {
    line-height: 20px;
  }
  .footer-location,
  .footer-email,
  .footer-tel {
    gap: 5px;
  }
  .location-txt,
  .email-txt,
  .tel-txt {
    font-size: 12px;
    line-height: 15px;
  }
}
