* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
html {
  font-family: "Cera Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* ---------------------------- Login and Register page START ----------------------------*/
.login-body,
.register-body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.login-link,
.register-link {
  color: #46a358;
}
.home-link {
  width: 18px;
}
.login-header,
.register-header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.login-register-links {
  max-width: 157px;
  margin-top: 52px;
  margin-left: 172px;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.close button {
  margin-top: 13px;
  margin-left: 469px;
}
.close {
  width: 18px;
  height: 18px;
  color: #46a358;
}
.login-main,
.register-main {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.login-main-p,
.login-p,
.register-p,
.register-main-p {
  font-size: 13px;
  font-weight: 400;
  color: #3d3d3d;
  width: 100%;
}
input,
button {
  width: 100%;
}
.form-input {
  padding: 0 14px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
  background-color: none;
}
.primary-btn {
  background-color: #46a358;
  color: #ffffff;
  border: none;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.login-btn {
  text-align: center;
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #727272;
  background-color: none;
  border: 1px solid;
}
.login-footer,
.register-footer {
  height: 10px;
  background-color: #46a358;
  margin-top: 40px;
}
.login-p::before {
  content: "";
  display: inline-block;
  width: 105px;
  height: 1px;
  background-color: #eaeaea;
  margin-right: 7px;
}
.login-p::after {
  content: "";
  display: inline-block;
  width: 105px;
  height: 1px;
  background-color: #eaeaea;
  margin-left: 7px;
}
.register-p::before {
  content: "";
  display: inline-block;
  width: 97px;
  height: 1px;
  background-color: #eaeaea;
  margin-right: 7px;
}
.register-p::after {
  content: "";
  display: inline-block;
  width: 97px;
  height: 1px;
  background-color: #eaeaea;
  margin-left: 7px;
}
/* ---------------------------- Login and Register page END ----------------------------- */

/* ---------------------------- Header START ----------------------------*/
.header {
  margin-top: 30px;
  border-bottom: 1px solid #46a35880;
  display: flex;
  justify-content: space-between;
}
.logo {
  max-width: 150px;
  margin-top: 1px;
  text-align: left;
}
.header-nav {
  max-width: 351px;
  margin-top: 8px;
  text-align: center;
}
.header-nav-list {
  height: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  font-weight: 400;
  font-size: 16px;
}
.header-nav-item a {
  color: #3d3d3d;
}
.header-nav-item:hover {
  color: #3d3d3d;
  border-bottom: 3px solid #46a358;
  font-weight: 700;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.header-icon1 {
  width: 20px;
  height: 20px;
  margin-top: 9px;
}
.header-icon2 {
  width: 29px;
  height: 24px;
  margin-top: 8px;
}
.login-button-link {
  width: 100px;
  height: 35px;
  margin-bottom: 18px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background-color: #46a358;
  border: none;
  gap: 4px;
  display: inline-flex;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;
  color: #ffffff;
}
.login-icon {
  width: 20px;
  height: 20px;
}
/* ---------------------------- Header END ----------------------------*/

/* ---------------------------- Main Section START ----------------------------*/
.main-section {
  margin-top: 12px;
  background-color: #f5f5f580;
  display: flex;
  justify-content: space-between;
}
.main-text {
  margin-left: 40px;
}
.greetings {
  width: 100%;
  max-width: 205px;
  margin-top: 68px;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
}
h1 {
  width: 100%;
  max-width: 530px;
  margin-top: 7px;
  color: #3d3d3d;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.highlight {
  color: #46a358;
}
.description {
  max-width: 557px;
  margin-top: 5px;
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}
.main-section-button {
  max-width: 140px;
  height: 40px;
  margin-top: 44px;
  padding: 11px 26px;
  border-radius: 6px;
  background-color: #46a358;
  border: none;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.main-image {
  max-width: 507px;
  text-align: right;
}
/* ---------------------------- Main Section END ----------------------------*/

/*---------------------------- Second Section START ----------------------------*/
.second-section {
  margin-top: 26px;
}
.left-article {
  float: left;
  max-width: 310px;
  display: flex;
  flex-direction: column;
}
.right-article {
  float: right;
  width: 100%;
  max-width: 840px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.left-article-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fbfbfb;
}
.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
  margin-bottom: 36px;
}
.Price-Range {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 29px;
  margin-bottom: 46px;
}
.Size {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
  margin-bottom: 19px;
}
.categories-title,
.Price-Range-title,
.Size-title {
  max-width: 101px;
  margin-top: 14px;
  margin-left: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
}
.Price-Range-title,
.Size-title {
  margin-top: 0px;
}
.categories-list,
.Size-list,
.Price-Range-content {
  margin-left: 30px;
}
.categories-item,
.Size-item {
  display: flex;
  justify-content: space-between;
  color: #3d3d3d;
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 0%;
}
.categories-item:hover,
.Size-item:hover {
  color: #46a358;
  font-weight: 700;
}
.Price-Range-description {
  margin-top: 21px;
}
.Price-Range-price {
  font-weight: 700;
  color: #46a358;
}
.Price-Range-button {
  max-width: 90px;
  height: 35px;
  margin-top: 16px;
  padding: 8px 26px;
  border-radius: 6px;
  background-color: #46a358;
  border: none;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.super-sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.super-sale-text {
  font-weight: 700;
  font-size: 23px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
  text-align: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 385px;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0%;
  height: 23px;
}
.menu-item {
  color: #3d3d3d;
}
.menu-item:hover {
  color: #46a358;
  border-bottom: 2px solid #46a358;
  font-weight: 700;
}
.menu-filters {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  gap: 8px;
  color: #3d3d3d;
}
.filter-select {
  border: none;
}
.filter-option {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0%;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 33px;
  margin-top: 31px;
  margin-bottom: 90px;
}
.catalog-item-image {
  width: 250px;
  height: 250px;
}
.catalog-item-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
  margin-top: 35px;
}
.catalog-item-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #46a358;
  margin-top: 6px;
}
.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  margin-bottom: 45px;
}
.catalog-item:hover {
  border-top: 1px solid #46a358;
}
.page-switch {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  gap: 10px;
  clear: both;
}
.page-button {
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: none;
  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
}
.page-button:hover {
  background-color: #46a358;
  color: #ffffff;
  font-weight: 700;
}
/*---------------------------- Second Section END ----------------------------*/
