* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
html,
header .login-button {
  font-family: "Cera Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
header {
  font-family: "Encode Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
.btn-color:hover {
  background-color: #1a712a;
}

/* ---------------------------- Login and Register page START ----------------------------*/
.login-body,
.register-body {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.login-link,
.register-link {
  color: #46a358;
}
.login-register-links {
  width: 100%;
  max-width: 157px;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.close-button {
  display: flex;
  justify-content: end;
  margin-top: 13px;
  margin-right: 13px;
}
.home-link {
  width: 100%;
  max-width: 18px;
  color: #46a358;
  font-size: 35px;
}
.login-main,
.register-main {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.login-main-p,
.login-p,
.register-p,
.register-main-p {
  font-size: 13px;
  font-weight: 400;
  color: #3d3d3d;
  width: 100%;
}
.form {
  margin-top: 14px;
}
input,
button {
  width: 100%;
}
.password {
  position: relative;
  margin-top: 16px;
}
.password img {
  position: absolute;
  left: 265px;
  top: 13px;
}
.form-input {
  padding: 12px 14px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #eaeaea;
}
.form-input[placeholder] {
  color: #a5a5a5;
}
.enter-email {
  margin-top: 16px;
}
.primary-btn {
  margin-top: 41px;
  padding: 13px;
  background-color: #46a358;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.login-btn-google {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #727272;
  background-color: transparent;
  border: 1px solid #eaeaea;
  padding: 10px 68px;
  margin-top: 27px;
}
.login-btn-facebook {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #727272;
  background-color: transparent;
  border: 1px solid #eaeaea;
  padding: 10px 63px;
  margin-top: 15px;
}
.login-footer,
.register-footer {
  height: 10px;
  background-color: #46a358;
  margin-top: 40px;
}
.login-p,
.register-p {
  margin-top: 36px;
}
.login-p::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #eaeaea;
  margin-right: 7px;
}
.login-p::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #eaeaea;
  margin-left: 7px;
}
.register-p::before {
  content: "";
  display: inline-block;
  width: 93px;
  height: 1px;
  background-color: #eaeaea;
  margin-right: 7px;
}
.register-p::after {
  content: "";
  display: inline-block;
  width: 93px;
  height: 1px;
  background-color: #eaeaea;
  margin-left: 7px;
}
/* ---------------------------- Login and Register page END ----------------------------- */

/* ---------------------------- Header START ----------------------------*/
.header .container {
  margin-top: 30px;
  border-bottom: 1px solid #46a35880;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  max-width: 150px;
  margin-top: 1px;
  text-align: left;
}
.burger {
  display: none;
  width: 35px;
  height: 35px;
  border: 2px solid #52c368;
  border-radius: 6px;
  position: relative;
  order: 1;
}
.burger span {
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #52c368;
  position: absolute;
  left: 6px;
  opacity: 1;
  transition: all 0.3s linear;
}
#burger-checkbox {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  z-index: 4;
  opacity: 0;
}
#burger-checkbox:checked + .burger span {
  background-color: gray;
}
.burger span:first-child {
  top: 7px;
}
.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 15px;
}
.burger span:last-child {
  top: 23px;
}
#burger-checkbox:checked + .burger span:first-child {
  top: -7px;
  opacity: 0;
}
#burger-checkbox:checked + .burger span:last-child {
  top: 50px;
  opacity: 0;
}
#burger-checkbox:checked + .burger span:nth-child(2) {
  transform: rotate(45deg);
}
#burger-checkbox:checked + .burger span:nth-child(3) {
  transform: rotate(-45deg);
}
.header-nav {
  width: 100%;
  max-width: 354px;
  margin-top: 8px;
  text-align: center;
}
.header-nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
}
.header-nav-item {
  position: relative;
  border: 3px solid transparent;
  padding-bottom: 25px;
}
.header-nav-link,
.header-sub-link,
.header-subsub-link {
  color: #3d3d3d;
  white-space: nowrap;
}
.header-nav-item:hover {
  border-bottom: 3px solid #46a358;
  font-weight: 700;
}
.header-nav-item:hover .header-sub-list {
  display: block;
}
.header-nav-item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 12px;
}
.header-sub-list {
  display: none;
  width: 188px;
  background-color: #edf6ee;
  position: absolute;
  top: calc(100% + 12px);
  left: -70px;
  z-index: 2;
  text-align: start;
  list-style: none;
}
.header-sub-item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3d3d3d;
}
.header-sub-link {
  display: flex;
  justify-content: space-between;
  padding: 7px 17px 7px 14px;
}
.some {
  display: none;
}
.header-sub-link:hover {
  background-color: #1a712a;
  color: #ffffff;
  font-weight: 700;
}
.header-sub-link:hover .some {
  display: block;
  transform: rotate(180deg);
}
.header-subsub-list {
  display: none;
  width: 195px;
  background-color: #edf6ee;
  position: absolute;
  left: calc(100% + 2px);
  top: -90px;
  z-index: 2;
  text-align: start;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header-subsub-item {
  padding-left: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.header-sub-item:hover .header-subsub-list {
  display: block;
}
.header-subsub-item:hover {
  background-color: #1a712a;
  font-weight: 700;
  padding-right: 17px;
}
.header-subsub-item:hover .header-subsub-link {
  color: #ffffff;
}
.header-sub-item:hover::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 2px;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.header-icon1 {
  width: 20px;
  height: 20px;
  margin-top: 9px;
}
.header-icon2 {
  width: 29px;
  height: 24px;
  margin-top: 8px;
}
.login-button-link {
  width: 100%;
  max-width: 100px;
  margin-bottom: 18px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background-color: #46a358;
  border: none;
  gap: 4px;
  display: inline-flex;
  align-items: center;
  padding: 7px 17px 8px 17px;
  color: #ffffff;
}
.login-icon {
  width: 20px;
  height: 20px;
}
/* ---------------------------- Header END ----------------------------*/

/* ---------------------------- Main Section START ----------------------------*/
.main-section .container {
  margin-top: 12px;
  background-color: #f5f5f580;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-text {
  margin-left: 40px;
  width: 100%;
  max-width: 557px;
}
.greetings {
  margin-top: 68px;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
}
h1 {
  margin-top: 7px;
  color: #3d3d3d;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.highlight {
  color: #46a358;
}
.description {
  margin-top: 5px;
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}
.main-section-button {
  width: 100%;
  max-width: 140px;
  height: 40px;
  margin-top: 44px;
  padding: 11px 26px;
  border-radius: 6px;
  background-color: #46a358;
  border: none;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.main-image {
  max-width: 507px;
  text-align: right;
}
/* ---------------------------- Main Section END ----------------------------*/

/*---------------------------- Second Section START ----------------------------*/
.second-section-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
  margin-top: 26px;
}
.second-section-left {
  max-width: 310px;
  display: flex;
  flex-direction: column;
}
.left-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fbfbfb;
}
.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
  margin-bottom: 36px;
}
.Price-Range {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 29px;
  margin-bottom: 46px;
}
.Size {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
  margin-bottom: 19px;
}
.categories-title,
.Price-Range-title,
.Size-title {
  max-width: 101px;
  margin-top: 14px;
  margin-left: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
}
.categories-list,
.Size-list,
.Price-Range-content {
  margin-left: 30px;
  margin-right: 24px;
}
.categories-item,
.Size-item {
  display: flex;
  justify-content: space-between;
  color: #3d3d3d;
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 0%;
}
.categories-item:hover,
.Size-item:hover {
  color: #46a358;
  font-weight: 700;
}
.Price-Range-description {
  margin-top: 21px;
}
.Price-Range-slider {
  width: 100%;
  max-width: 209px;
}
.Price-Range-price {
  font-weight: 700;
  color: #46a358;
}
.Price-Range-button {
  width: 100%;
  max-width: 90px;
  margin-top: 16px;
  padding: 8px 26px;
  border-radius: 6px;
  background-color: #46a358;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.super-sale {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.super-sale-text {
  font-weight: 700;
  font-size: 23px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
  text-align: center;
  margin-top: 11px;
}
.second-section-right {
  width: 100%;
  max-width: 840px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 385px;
  background-color: #fbfbfb;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0%;
  height: 23px;
}
.menu-item {
  color: #3d3d3d;
  border: 2px solid transparent;
}
.menu-item:hover {
  color: #46a358;
  border-bottom: 2px solid #46a358;
  font-weight: 700;
}
.menu-filters {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  gap: 8px;
  color: #3d3d3d;
}
.filter-select {
  border: none;
}
.filter-option {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0%;
}
.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 65px 33px;
}
.catalog-item {
  width: 100%;
  max-width: 258px;
  border: 1px solid transparent;
  position: relative;
}
.catalog-item:hover {
  border-top: 1px solid #46a358;
}
.catalog-item-label {
  position: absolute;
  top: 14px;
  left: 0px;
  padding: 7px 9px;
  background-color: #46a358;
  z-index: 1;
}
.catalog-item-label-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #ffffff;
}
.catalog-item-images {
  background-color: #fbfbfb;
  padding: 31px 4px 19px;
  position: relative;
}
.catalog-item-image {
  width: 250px;
  height: 250px;
}
.catalog-item-icons {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  width: 100%;
  max-width: 125px;
  position: absolute;
  left: 67px;
  bottom: 7px;
  opacity: 0;
}
.catalog-item:hover .catalog-item-icons {
  opacity: 1;
}
.catalog-item-icon {
  background-color: transparent;
  border: transparent;
}
.catalog-item-icon:hover svg path {
  fill: #46a358;
}
.catalog-item-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
  margin-top: 12px;
}
.catalog-item-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #46a358;
  margin-top: 6px;
}
.catalog-item-price del {
  margin-left: 17px;
  color: #a5a5a5;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
}
.page-switch {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 90px;
}
.page-button {
  text-align: center;
  width: 100%;
  max-width: 35px;
  padding: 10px 6px 9px 6px;
  border-radius: 4px;
  background-color: transparent;
  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
}
.page-button:hover {
  background-color: #46a358;
  color: #ffffff;
  font-weight: 700;
}
/*---------------------------- Second Section END ----------------------------*/

/*---------------------------- Third Section START ----------------------------*/
.third-section .container {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 138px;
}
.find-more {
  display: flex;
  justify-content: space-between;
}
.find-more-right,
.find-more-left {
  width: 100%;
  max-width: 586px;
  background-color: #fbfbfb;
  position: relative;
  padding: 37px 30px 46px 0;
  margin-top: 52px;
}
.plant-left {
  width: 100%;
  max-width: 287px;
  position: absolute;
  left: 0;
  top: -52px;
}
.plant-right {
  width: 100%;
  max-width: 289px;
  position: absolute;
  left: 0;
  top: -45px;
}
.find-more-left-txt,
.find-more-right-txt {
  background-color: #fbfbfb;
  text-align: right;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.find-more-left-title,
.find-more-right-title {
  width: 100%;
  max-width: 150px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #3d3d3d;
}
.find-more-left-description,
.find-more-right-description {
  width: 100%;
  max-width: 292px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #727272;
  margin-top: 9px;
}
.find-more-left-btn,
.find-more-right-btn {
  width: 100%;
  max-width: 140px;
  height: 40px;
  margin-top: 25px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background-color: #46a358;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding-left: 28px;
  padding-right: 27px;
  color: #ffffff;
}
.find-more-left-icon,
.find-more-right-icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}
.blog-posts-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #3d3d3d;
}
.blog-posts-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #727272;
  margin-top: 15px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 43px;
  margin-top: 35px;
}
.first-card,
.second-card,
.third-card,
.fourth-card {
  width: 100%;
  max-width: 268px;
  background-color: #fbfbfb;
}
.card-txt {
  width: 100%;
  max-width: 242px;
  margin-left: 15px;
  margin-top: 9px;
}
.data-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #46a358;
}
.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #3d3d3d;
  margin-top: 4px;
}
.card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #727272;
  margin-top: 4px;
}
.read-more {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
  margin-top: 9px;
  display: inline-flex;
  align-items: center;
  gap: 3px;
}
.read-more svg {
  margin-top: 3px;
}
.read-more:hover {
  color: #46a358;
}
.read-more:hover svg path {
  fill: #46a358;
}
/*---------------------------- Third Section END ----------------------------*/

/* ---------------------------- Footer START ----------------------------*/
.footer .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}
.footer-main {
  background-color: #fbfbfb;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 24px 25px;
}
.footer-top-left {
  display: flex;
  gap: 30px;
}
.footer-top-left-line {
  padding-top: 7px;
  padding-bottom: 7px;
}
.footer-top-left-img {
  height: 100%;
}
.footer-top-left h5 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
}
.footer-top-left p {
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #727272;
}
.footer-top-right {
  width: 100%;
  max-width: 354px;
  margin-left: 62px;
}
.footer-top-right-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
  padding-top: 13px;
}
.footer-top-right-email {
  position: relative;
  margin-top: 25px;
  width: 100%;
  box-shadow: 0 0 20px #0000000f;
}
.footer-top-right-input {
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 12px 11px;
}
.footer-top-right-button {
  position: absolute;
  top: 0;
  left: 269px;
  width: 100%;
  max-width: 85px;
  background-color: #46a358;
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
}
.footer-top-right-txt {
  margin-top: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #727272;
}
.footer-center {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 153px;
  padding: 25px 23px 19px 22px;
  background-image: linear-gradient(90deg, #edf6ef, #52c368);
}
.footer-location {
  width: 100%;
  max-width: 205px;
}
.footer-location,
.footer-email,
.footer-tel {
  display: flex;
  align-items: center;
  gap: 9px;
}
.location-txt,
.email-txt,
.tel-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #3d3d3d;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  gap: 160px;
  padding: 33px 0 27px 25px;
  border: 1px solid transparent;
  border-bottom: 1px solid #46a35833;
}
.footer-bottom h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #3d3d3d;
}
.footer-bottom ul {
  list-style: none;
}
.footer-bottom li {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #3d3d3d;
  margin-top: 8px;
}
.social-media-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.social-media-button {
  width: 100%;
  max-width: 30px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #46a35833;
  border-radius: 4px;
  padding: 7px 0;
}
.social-media-button:hover {
  background-color: rgb(236, 236, 236);
}
.we-accept-title {
  margin-top: 33px;
}
.we-accept-img {
  margin-top: 13px;
}
.copyright {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #3d3d3d;
}
/* ---------------------------- Footer END ----------------------------*/
